$primary: #1434a0;
$text: #0f2a85;
$hover: #5b76d2;
$link: #acbaea;
$link-light: #e0e4f2;

$secondary-100: #f0f2f5;
$secondary-200: #eeeeee;
$secondary-300: #d9d9d9;
$secondary-400: #b8c2d0;
$secondary-500: #8a98ad;

$white: #ffffff;